<%- include('../../partials/admin/header') %>

<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Quiz</h6>
    </div>
    <div class="card-body">

        <% if (flash_message !== null) { %>
            <% if(flash_message.path == "/create/quiz"){ %>
                <% if(flash_message.code == 200){ %> 
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong><%= flash_message.message %> </strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% }else{ %> 
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong><%= flash_message.message %> </strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %> 
            <% } %>  
        <% } %>

      

        <form action="/admin/create/quiz" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Title Quiz</label>
              <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Category Quiz</label>
                <select class="form-control" id="exampleFormControlSelect1" name="kategori">
                  <option value="1">Luar Angkasa</option>
                  <option value="2">Lautan</option>
                  <option value="3">Hutan</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>


<% if (flash_message !== null) { %>
    <% if(flash_message.path == "/create/question"){ %>
        <% if(flash_message.code == 200){ %> 
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><%= flash_message.message %> </strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }else{ %> 
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><%= flash_message.message %> </strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %> 
    <% } %>  
<% } %>

<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Question</h6>
    </div>
    <div class="card-body">
        <form action="/admin/create/question" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Category</label>
                <select class="form-control" id="kategori_select" name="kategori">
                  <option value="1" selected>Luar Angkasa</option>
                  <option value="2">Lautan</option>
                  <option value="3">Hutan</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Quiz</label>
                <select class="form-control" id="list_quiz" name="id_quiz" >
                </select>
            </div>

            <div class="form-group">  
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="image">
                    <label class="custom-file-label" for="customFile">Image Quiz [1920 x 1080]</label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Answer A</label>
                        <input type="text" class="form-control" name="answer_a">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Value Answer A</label>
                        <select class="form-control" name="value_a">
                          <option value="0">False</option>
                          <option value="1">True</option>
                        </select>
                    </div>
        
                </div>
            </div>

            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Answer B</label>
                        <input type="text" class="form-control" name="answer_b">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Value Answer B</label>
                        <select class="form-control" name="value_b">
                          <option value="0">False</option>
                          <option value="1">True</option>
                        </select>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Answer C</label>
                        <input type="text" class="form-control" name="answer_c">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Value Answer C</label>
                        <select class="form-control" name="value_c">
                          <option value="0">False</option>
                          <option value="1">True</option>
                        </select>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Answer D</label>
                        <input type="text" class="form-control" name="answer_d">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Value Answer D</label>
                        <select class="form-control" name="value_d">
                          <option value="0">False</option>
                          <option value="1">True</option>
                        </select>
                    </div>
                </div>
            </div>
        

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>


<%- include('../../partials/admin/footer') %>
